numpy
stopit
# for MacOS required ActiveTcl version BELOW 8.6
# installer by the link:
# http://downloads.activestate.com/ActiveTcl/releases/8.5.18.0/ActiveTcl8.5.18.0.298892-macosx10.5-i386-x86_64-threaded.dmg